body {
  background-image: url(rasm/jutsu.jpg);
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  text-align: center;
}




.indra h3{
  color: red;
}




.indra li{
  margin-right: 5px;
  display: inline-block;
}



.indra{
  display: none;
  position: absolute;
  background-color: rgba(31,31,31,.95);
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  color: red;
  left: 0;
  top: 100%;
}



.lll:hover .indra{
  display:block;

}



.xxx {
  margin: 25px 0 15px 0;
  padding: 8px 0 8px 0;
  border-top: 1px solid;
  border-color: #8ca38f;
  color: #cdcdd4;
  text-align: center;
}



.sss {
  padding-bottom: 8px;
  margin-bottom: 15px;
  font: 12px/1.5 verdana, sans-serif;
  font-size: 18px;
  text-align: center;
}




.rrr {
  color: #cdcdd3;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin: 10px 0 15px;
  margin-bottom: 15px;
  border-bottom-color: #666b66;
}



.zzz {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  box-sizing: border-box;
  padding: 15px 10px;
  border-top: 1px solid #acce0d;
  text-align: center;
  margin: 10px 0 15px;
  font-size: 20px;
  background-color: #363a37;
  border-color: #666b66;
}



.qqq {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  width: 25.8%;
  float: right;
  margin: 10px 1% 0 0;
  position: relative;
}



.ooo li :hover {
  background: #889b88;
  border-radius: 15px 0 0 15px;
}



.ooo {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  text-align: left;
  display: block;
}



.ooo li {
  display: block;
  font: 12px/1.5 verdana, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  margin-bottom: 3px;
  width: 100%;
}



.salom span {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
  padding-bottom: 6px;
  border-bottom: 1px solid #c5d18c;
  border-color: #5c675e;
}



.salom :hover {
  background: #363a37;
}



.salom span :hover {
  background: #363a37;
}



.salom {
  font: 12px/1.5 verdana, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  padding-left: 17px;
  margin-bottom: 8px;
}



.ooo li a {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  display: block;
  padding: 5px 10px 5px 20px;
  color: #b6b6bd;
  width: 100%;
  margin: 5px;
  margin-top: 6px;
}



ul {
  list-style-type: none;
}



nav ul li a:hover {
  background: url(pnj/hover.png) no-repeat;
  display: block;
  width: 92px;
  height: 90px;
  content: '';
  z-index: 300;
}



.the-end {
  color: #cdcdd3;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  float: left;
  display: flex;

}




#kkk {
  margin: 0;
  text-align: right;
  font: 14px/22px Tahoma, Verdana, sans-serif;
  color: #b9b2b2;
  box-sizing: border-box;
  padding-top: 12px;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 20px;
}



#www {
  font: 14px/22px Tahoma, Verdana, sans-serif;
  box-sizing: border-box;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 9px;
  margin: 0;
  color: #b9b2b2;
  text-align: center;
  padding-bottom: 0;
}



.otsasuki img {
  border-radius: 50%;
}



.senjo {
  display: inline-block;
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}



.hyuga3 {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #663640;
}



.otsasuki {
  width: 186px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 186px;
  background-color: #663640;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
}



.minato img {
  border-radius: 50%;
}



.hyuga4 {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #5f3232;
}



.minato {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}



.uchixa {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}



.asuma img {
  border-radius: 50%;
}



.hyuga5 {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #553b4d;
}



.hinata {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}



.neji img {
  border-radius: 50%;
}



.neji {
  width: 186px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 186px;
  background-color: #35413a;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
}



.hyuga6 {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #35413a;
}



.asuma {
  width: 186px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 186px;
  background-color: #553b4d;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
}



.saratobi {
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 0;
  display: inline-block;
}



.madara {
  width: 186px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 186px;
  background-color: #5f3232;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
}




.uzumaki img {
  border-radius: 50%;
}



.uzumaki {
  width: 186px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 186px;
  background-color: #624628;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
}



.hyuga {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #766738;
}



.hyuga1 {
  width: 186px;
  height: 15px;
  border-bottom-left-radius: 93px 15px;
  border-bottom-right-radius: 93px 15px;
  background-color: #624628;
}


.fff {
  text-align: left;
}




.ggg {
  box-sizing: border-box;
  font: bold 14px/20px Arial;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px 4px 0;
  text-decoration: none;
  border-radius: 3px;
  position: relative;
  font-size: 17px;
  padding: 12px 20px;
  width: auto;
  margin-bottom: 4px;
  margin-right: 4px;
  background: #9aa777;
  color: #1f1f1f;

}



.eee {
  position: relative;
}




#yyy {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #acce0d;
  font-size: 18px;
  margin-bottom: 15px;
  display: inline-block;
  border-color: #8ca38f;
  color: #cdcdd4;
}



.tensegan:checked+.button::after {
  transform: translateX(2.5em);
}



.button::before {
  width: 4em;
  height: 1em;
  background-color: gray;
  content: '';
  position: absolute;
  top: 1em;
  margin-left: 8px;
  display: block;
  border-radius: 1em;
  transition: 0.3s;
}



.tensegan:checked+.button::before {
  background: linear-gradient(to bottom, #1c341c 0%, #334633 100%);

}






.button::after {
  position: absolute;
  content: '';
  width: 2em;
  height: 2em;
  top: 0.5em;
  left: 0.5em;
  border-radius: 50%;
  background: linear-gradient(#f5f5f5 10%, #eeeeee);
  transition: 0.3s;
}



label {
  color: #cdcdd3;
  position: relative;
  display: block;
  width: 5.5em;
  height: 3em;
  cursor: pointer;
  border-radius: 1.5em;
  margin: 1.5em auto;
  background: linear-gradient(rgba(0, 0, 0, 0.07), rgba(255, 255, 255, 0)), #1e211f;

}



.search input {
  box-sizing: border-box;
  display: inline-block;
  font: 18px/1.3 Arial;
  width: 94px;
  height: 30px;
  margin-top: 2px;
  border: 1px solid #8ea65c;
  border-radius: 7px;
  color: #b0c0b2;
  border-color: #4e5b33;
  background: linear-gradient(to bottom, #3d4629 0%, #272b1e 100%);
}



.uchtalik {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  position: absolute;
  right: 5px;
  top: -5px;
}



.uuu {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  box-sizing: border-box;
  font-size: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0 0 25px;
  background: #363a37;
  position: relative;
}



.noindex {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  font-size: 100%;
  box-sizing: border-box;
}



.reklama {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  margin: 0 0 25px;
  background: #363a37;
}



.spiska {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0 8px 0;
  border-bottom: 1px solid #acce0d;
  font-size: 18px;
  margin-bottom: 15px;
  display: inline-block;
  border-color: #8ca38f;
  color: #cdcdd4;
}




li a {
  text-decoration: none;
  list-style: none;
  color: #cdcdd3;
  width: 90px;
  box-sizing: border-box;
  font: 14px/1 Tahoma;
  padding: 0;
  border: 0;
  display: block;
  padding: 41px 0 15px;
  text-transform: uppercase;
  margin: 0;
}



.stil {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  padding: 0;
  border: 0;
  list-style: none;
  margin: 0;
  display: flex;
}



.nav a div:hover {
  background-image: url(https://gen.jut.su/templates/school/images/dark_mode_moon_white.png);
}





.lll {
  position: relative;
}



li {
  list-style: none;
  display: inline-block;
}



.hhh {
  font: 12px/1.5 verdana, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: #bee6c3;
  display: block;
  text-indent: -9999px;
  position: relative;
  width: 42px;
  height: 42px;
  background: #d9f1a7 url(pnj/plus_ico_green.png) no-repeat center;
  background-color: #212722;
  border-radius: 50%;
  display: block;
}




.ccc {
  font: 12px/1.5 verdana, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: #bee6c3;
  display: block;
  text-indent: -9999px;
  position: relative;
  width: 45px;
  height: 45px;
  background: #d9f1a7 url(pnj/vk_ico.png) no-repeat center;
  background-color: #212722;
  border-radius: 50%;
  display: block;
}




.iii {

  font: 12px/1.5 verdana, sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  color: #bee6c3;
  display: block;
  text-indent: -9999px;
  position: relative;
  width: 50px;
  height: 50px;
  background: #d9f1a7 url(pnj/yt_ico.png) no-repeat center;
  background-color: #212722;
  border-radius: 50%;
  display: block;
}





.search {
  font: 12px/1.5 verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  font-size: 11px;
  float: left;
  margin: 21px 0 0 60px;
  width: 545px;
}



.send {
  box-sizing: border-box;
  display: inline;
  font: 18px/1.3 Arial;
  width: 94px;
  height: 30px;
  margin-top: 2px;
  border-radius: 7px;
  float: left;
  color: #b0c0b2;
  background: linear-gradient(to bottom, #3d4629 0%, #272b1e 100%);
  margin-left: 20px;
}



#input {
  vertical-align: middle;
  box-sizing: border-box;
  display: inline;
  max-width: 430px;
  width: 100%;
  height: 35px;
  border: 1px solid #a0b771;
  border-radius: 10px;
  padding: 0 25px;
  float: left;
  font: 16px/1.3 Verdana;
  color: #b0c0b2;
  border-color: #7c817e;
  background: #2e332f;
  box-shadow: 1px 1px 1px #1f1f1f, inset 1px 1px 1px #606661;
}


.radius {
  text-align: start;
}



.radius a {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  padding-top: 19px;
  font: 10px/1 Arial;
  margin-top: 7px;
  float: left;
  position: relative;
  color: #bee6c3;
  background-color: #212722;
  border-radius: 50%;
  box-shadow: 1px 1px 0 0 #1f1f1f, inset 1px 1px 1px #606661;
}



.home {
  display: inline-block;
  margin-top: -150px;
}



.ddd {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  position: relative;
  display: inline-block;
  margin-right: 7px;
  text-align: center;
}



.for {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  list-style: none;
  float: right;
  margin-top: 15px;
  display: flex;
  align-items: center;
}



.vvv {
  border: wheat;
  width: 980px;
  display: inline-block;
}



.bbb ul li a :hover {
  text-shadow: 1px 1px 2px #fff, -1px -1px 2px #fff
}



.bbb ul li a {
  color: #b0c0b2;
  width: 100%;
  display: inline-block;
  height: 30px;
}



.bbb ul {
  padding-top: 25px;
  margin: 0;
}






.bbb ul li {
  margin: 0 13px;

}





.bbb {
  font: 12px/1.5 verdana, sans-serif;
  color: #cdcdd3;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  margin: 0;
  height: 94px;
  position: relative;
  background: #1f1f1f url(pnj/footer-bg.dark.png);
  border-left: 3px solid #3c4c40;
  border-right: 3px solid #3c4c40;
  border-radius: 0 0 10px 10px;
  display: block;
}




.box {
  background-color: #1f1f1f;
  color: #cdcdd3;
  width: 980px;
  height: 820vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  border-left: 3px solid #3c4c40;
  border-right: 3px solid #3c4c40;

}



.jutsu {
  text-align: center;
  margin-top: 40px;
  display: block;
}



.img-box {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}



.navigatsiya {
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #1c341c 0%, #334633 100%);
  text-align: center;
  position: relative;
}



.nav {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}



.itachi {
  margin-right: 20px;
}



.oy {
  background-image: url(https://gen.jut.su/templates/school/images/dark_mode_moon.png);
  width: 67px;
  height: 66px;
  transition: background 1s ease;
  display: inline-block;
  padding-right: 10px;
  background-repeat: no-repeat;
}



.info {
  text-align-last: center;
  width: 1000px;
  height: 70px;
  margin-top: 220px;
  border-radius: 5px;
  background: linear-gradient(to bottom, #1c341c 0%, #334633 100%);
  position: relative;
}



.content {
  width: 73.2%;
  font: 12px/1.5 verdana, sans-serif;
  padding: 10px;
  padding-top: 0;
}

  

.the-end input {
  box-sizing: border-box;
  vertical-align: middle;
  position: absolute;
  display: none;
}




.hokagi{
  background-color: #363a37;
  text-align: left;
  border-radius: 10px;
  position: sticky;
  top: 10px;
}




.hokagi h1, h3{
display: inline-block;
margin: 0;
padding: 0;
color: #cdcdd4;
font: 12px/1.5 verdana,sans-serif;
font-size: 18px;
text-align: left;
}




.hokagi h1{
  border-bottom: 1px solid;
  border-color: #8ca38f;
  font-size: 20px;
}






.hokagi div{
  padding: 10px;
}





